
<header> 

<nav class=" n1 navbar bg-body-tertiary">
    <div class="container-fluid1">
      <a class="navbar-brand"><img class="header-logo" src=" assets/img/Logo.png" alt="logo"></a>
      <form class="d-flex" role="search">
        <div class="input-div"> 
          <input class="form-control me-2" type="search" placeholder="rechercher" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <div> 
              <img class="search-logo" src=" assets/img/loupe.png" alt="search">
            </div>
            </button>
          <button class="filter-btn btn">Filtre:</button>
        </div>
        <nav class=" n2 navbar navbar-expand-lg bg-body-tertiary">
          <div class="c2 container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Bâtiment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Fabrication</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Alimentation</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </form>
    </div>
  </nav>

 

</header>
