<div class="footer">

    <div class="footer1">
 
        <img class="footer-logo" src="assets/img/Logo.png" alt="logo">
   

        <ul class="address">
            <li class="address-items">Lyon</li>
            <li class="address-items">101 cours Charlemagne</li>
            <li class="address-items">CS 20033 69269 LYON CEDEX 02</li>
            <li class="address-items">France +33 (0)4 26 73 40 00</li>
        </ul>

    </div>
    <hr>
    <div class="footer2">

        <a href="">Mentions légales</a>
        <a href="">Données personelles</a>
        <a href="">Accessibilité</a>
        <a href="">Cookies</a>
 

    </div>




</div>
