<div class="page-artisan">
  <div class="artisan-info"> 
    <h2>NOM</h2>
      <h3>note</h3>
      <div class="artisan-about">
          <h3>localisation:</h3>
              <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
              </ul> 
          <h3>à propos:</h3> 
          <p>ddddd dddd ddddddddddddd dddddd dddddd ddddddddd ddddddddd dddddd ddddd dddddddd ddddddddd ddddddddd dddd</p>
          

    

      </div>

      <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nom</label>
            <input type="email" class="f1 form-control" id="exampleFormControlInput1" >
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Objet</label>
              <input type="email" class="f2 form-control" id="exampleFormControlInput1"  >
            </div>
        
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button class="btn btn-primary">envoyer</button>
      </form>
    </div>

    <div class="artisan-img">

      <img src="/assets/img/square-img-300x300.png" alt="artisan-img">

    </div>

</div>