<div class="accueil">

    <h1 class="titre">Comment utiliser nos services ?</h1>


    <div class="tuto">

        <h2>Étape n°1: Choisir la catégorie d’artisanat dans le menu</h2>
        <hr>
        <p>Pour faciliter la recherche , nous vous conseillons d’utiliser un filtre correspondant à votre demande. Exemple: “lorem”</p>
        <img src="assets\img\square-img-300x300.png" alt="tutoimg">

        <h2>Étape n°1: Choisir la catégorie d’artisanat dans le menu</h2>
        <hr>
        <p>Pour faciliter la recherche , nous vous conseillons d’utiliser un filtre correspondant à votre demande. Exemple: “lorem”</p>
        <img src="assets\img\square-img-300x300.png" alt="tutoimg">

        <h2>Étape n°1: Choisir la catégorie d’artisanat dans le menu</h2>
        <hr>
        <p>Pour faciliter la recherche , nous vous conseillons d’utiliser un filtre correspondant à votre demande. Exemple: “lorem”</p>
        <img src="assets\img\square-img-300x300.png" alt="tutoimg">
        
    </div>

    <h1 class="titre">Trois meilleurs artisans du mois</h1>

    <div class="artisans">

        

        <div class="artisan">

            <img src="assets\img\square-img-300x300.png" alt="tutoimg">
            <h5>nom</h5>
            <h5>nom</h5>
            <h5>nom</h5>
            
        </div>

        <div class="artisan">

            <img src="assets\img\square-img-300x300.png" alt="tutoimg">
            <h5>nom</h5>
            <h5>nom</h5>
            <h5>nom</h5>
        </div>

        <div class="artisan">

            <img src="assets\img\square-img-300x300.png" alt="tutoimg">
            <h5>nom</h5>
            <h5>nom</h5>
            <h5>nom</h5>
        </div>

    </div>




</div>